@mixin Myflex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.notMean {
    height: 92px;
    background-color: red;
    width: 100%;
}

.shop {
    min-height: 100vh;
    padding: 0px 200px;
    position: relative;

    .container {
        // background-color: red;
        min-height: 100vh;
        @include Myflex;
        flex-direction: column;

        .upbox {
            border: 1px solid gray;
            height: 7vh;
            width: 97%;
            display: flex;
            border-radius: 8px;

            .showingText {
                width: 68%;
                height: 100%;
                @include Myflex;
                justify-content: start;
                padding: 0px 20px;

                p {
                    color: gray;
                }

            }

            .shopFilter {
                width: 32%;
                height: 100%;
                display: flex;
                gap: 40px;
                @include Myflex;
                justify-content: end;
                padding: 0px 10px;

                .shopMenuBox {
                    @include Myflex;
                    gap: 10px;

                    button {
                        background-color: transparent;
                        border: none;
                        font-size: 16px;
                        cursor: pointer;
                    }
                }

                select {
                    border: none;
                    background-color: transparent;
                    height: 80%;
                    outline: none;


                }

            }
        }

        .downbox {

            margin-top: 40px;
            min-height: 120vh;
            display: flex;

            .boxLeft {

                width: 68%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                padding: 0px 0px 0px 18px;

                .shopChangeCard {
                    width: 90%;
                    display: flex;
                    height: 124px;
                    border-radius: 7px;
                    border: 1px solid gray;
                    position: relative;

                    .shopCardHover {
                        width: 68%;
                        display: flex;
                        transition: 0.5s;
                        opacity: 0;
                        right: 1px;
                        bottom: 5px;
                        gap: 10px;
                        height: 30px;
                        position: absolute;

                        button {
                            cursor: pointer;
                            @include Myflex;
                            background-color: transparent;
                            width: 25px;
                            height: 25px;
                            border-radius: 4px;
                            border: 1px solid gray;
                            color: gray;
                        }
                    }

                    .shopcardImgBox {
                        width: 30%;
                        height: 99%;
                        border-radius: 10px;
                        @include Myflex;
                        padding: 10px;

                        .img1 {
                            display: block;
                        }

                        .img2 {
                            display: none;
                        }

                        img {
                            max-width: 38%;
                        }
                    }

                    .shopcardImgBox:hover {
                        .img1 {
                            display: none;
                        }

                        .img2 {
                            display: block;
                        }
                    }

                    .shopCardTextBox {
                        display: flex;
                        flex-direction: column;

                        padding: 20px 10px;

                        .shopPriceBox {
                            display: flex;

                            .shoopNewPrice {
                                margin-left: 5px;
                                color: #C7A17A;
                            }

                            .shoopOldPrice {
                                margin-left: 5px;
                                text-decoration: line-through;
                                color: gray;
                            }
                        }
                    }
                }

                .shopChangeCard:hover {
                    .shopCardHover {
                        opacity: 1;
                        transition: 0.5s;

                    }
                }

                .shopCard {
                    width: 230px;
                    height: 330px;
                    border: 1px solid gray;
                    border-radius: 7px;
                    position: relative;

                    .shopCardHover {
                        @include Myflex;

                        transition: 0.5s;
                        opacity: 0;
                        gap: 10px;
                        width: 100%;
                        height: 50px;
                        position: absolute;

                        button {
                            cursor: pointer;
                            @include Myflex;
                            background-color: transparent;
                            width: 32px;
                            height: 32px;
                            border-radius: 4px;
                            border: 1px solid gray;
                            color: gray;
                        }
                    }

                    .shopcardImgBox {
                        border-radius: 7px;
                        width: 100%;
                        height: 210px;
                        @include Myflex;
                        padding: 35px 0px 0px 0px;

                        .img1 {
                            display: block;
                        }

                        .img2 {
                            display: none;
                        }

                        img {
                            max-width: 60%;

                        }
                    }

                    .shopcardImgBox:hover {
                        .img1 {
                            display: none;
                        }

                        .img2 {
                            display: block;
                        }
                    }

                    .shopCardTextBox {
                        margin-top: 10px;
                        @include Myflex;
                        flex-direction: column;
                        gap: 10px;

                        .shopCardName {
                            color: gray;
                            font-size: 15px;
                        }

                        .shopCardInform {
                            font-size: 15px;
                        }

                        .shopPriceBox {
                            display: flex;

                            .shoopNewPrice {
                                margin-left: 5px;
                                color: #C7A17A;
                            }

                            .shoopOldPrice {
                                margin-left: 5px;
                                text-decoration: line-through;
                                color: gray;
                            }
                        }
                    }
                }

                .shopCard:hover {
                    .shopCardHover {
                        opacity: 1;
                        transition: 0.5s;
                    }
                }

                .paginationPage {
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    bottom: 4%;
                    right: 14%;
                    gap: 10px;

                    button {
                        width: 50px;
                        border-radius: 7px;
                        border: 1px solid gray;
                        background-color: transparent;
                        color: gray;
                        font-size: 15px;
                        transition: 0.4s;
                        cursor: pointer;
                    }

                    button:hover {
                        transition: 0.4s;
                        background-color: #C7A17A;
                        color: white;
                    }
                }
            }

            .boxRight {
                width: 400px;
                height: 100%;
                @include Myflex;
                flex-direction: column;
                gap: 20px;

                .ShopSearchBox {
                    border-radius: 7px;
                    border: 1px solid gray;
                    width: 90%;
                    @include Myflex;
                    flex-direction: column;
                    height: 170px;

                    .shopSeacrhText {
                        height: 30%;
                        width: 80%;

                        p {
                            font-size: 28px;
                        }

                    }

                    .shopSearchBtn {
                        @include Myflex;
                        height: 50px;
                        width: 80%;
                        font-size: 25px;
                        border-radius: 7px;
                        border: 1px solid gray;
                        color: gray;

                        input {
                            width: 80%;
                            height: 60%;
                            border: none;
                            background-color: transparent;
                        }

                        input:focus {
                            border: none;
                            outline: none;
                        }

                        ::placeholder {
                            padding: 0px 10px;
                        }

                        .serachIcon {
                            cursor: pointer;
                        }
                    }
                }

                .shopCategoriesBox {
                    border-radius: 7px;
                    border: 1px solid gray;
                    width: 90%;
                    height: 470px;
                    @include Myflex;
                    gap: 10px;
                    flex-direction: column;

                    .shopCategoryText {
                        height: 50px;
                        width: 80%;

                        p {
                            font-size: 28px;

                        }
                    }

                    .shopCategoryButtonBox {
                        transition: 0.3s;
                        @include Myflex;
                        height: 50px;
                        width: 80%;
                        font-size: 25px;
                        border-radius: 7px;
                        border: 1px solid gray;
                        color: gray;
                        padding: 0px 6px 0px 0px;

                        span {
                            font-size: 15px;
                        }

                        button {
                            color: gray;
                            height: 90%;
                            width: 100%;
                            border: none;
                            display: flex;
                            justify-content: start;
                            border-radius: 7px;
                            padding: 14px;
                            background-color: transparent;

                            p {
                                cursor: pointer;
                            }

                            // background-color: transparent;
                        }
                    }

                    .shopCategoryButtonBox:hover {
                        border: 1px solid black;
                        transition: 0.3s;
                    }

                }

                .shopFilterBox {
                    border-radius: 7px;
                    border: 1px solid gray;
                    width: 90%;
                    height: 180px;
                    @include Myflex;
                    gap: 5px;
                    flex-direction: column;

                    .shopPriceTextBox {

                        width: 90%;
                        // @include Myflex;
                        flex-direction: column;
                        height: 30%;

                        p {
                            font-size: 28px;
                        }
                    }

                    .shopPriceInput {
                        width: 90%;
                        height: 25%;

                    }

                    .shopPriceRange {
                        width: 90%;
                        height: 30px;
                        display: flex;
                        justify-content: space-between;
                        padding: 0px 20px 0px 0px;
                        align-items: center;

                        .shopPriceBoxFilterRange {
                            width: 70px;
                            height: 25px;
                            @include Myflex;
                            border-radius: 4px;
                            border: 1px solid gray;
                            color: gray;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1800px) {
    .shop {
        padding: 0px 170px;

        .container {
            .upbox{
                width: 90.5%;
                margin-left: -100px;
            }
            .downbox {
                .boxLeft {
                    .shopCard {

                        width: 300px;
                        height: 400px;
                    }
                    .shopChangeCard {
                        height: 158px;

                        img {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 1253px) {
    .shop {
        padding: 0;
    }
}

@media screen and (max-width: 645px) {
    .shop {
        .container {
            .downbox {
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .boxLeft {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .shopChangeCard {
                        .shopcardImgBox {
                            img {
                                max-width: 107%;
                            }
                        }
                    }

                    .paginationPage {
                        height: 300px;
                        flex-direction: column;
                        top: 20%;
                        left: 10px;

                        button {
                            width: 30px;
                            height: 30px;
                        }

                    }
                }

                .boxRight {
                    .ShopSearchBox {
                        margin-top: 50px;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 420px) {

    .shop {
        .container {
            .upbox {
                p {
                    font-size: 10px;
                    max-width: 100px;
                }
            }
        }
    }

}


:where(.css-dev-only-do-not-override-2q8sxy).ant-slider .ant-slider-handle::after {
    content: "";
    position: absolute;
    top: -6px !important;
    left: 2px !important;
    width: 3px;
    height: 18px;
    background-color: #C7A17A;
    box-shadow: 0 0 0 2px #C7A17A;
    border-radius: 0% !important;
    cursor: pointer;
    transition: inset-inline-start 0.2s, inset-block-start 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-slider .ant-slider-handle:hover::after,
:where(.css-dev-only-do-not-override-2q8sxy).ant-slider .ant-slider-handle:active::after,
:where(.css-dev-only-do-not-override-2q8sxy).ant-slider .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 2px #C7A17A;
    width: 3px;
    height: 18px;

}

:where(.css-dev-only-do-not-override-2q8sxy).ant-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #C7A17A;
}