@mixin Myflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basketBox {
    margin-top: 90px;
    z-index: 4;
    opacity: 0;
    background-color: white;
    height: 90%;
    width: 380px;
        top: 0;
    right: 0;
    transition: 0.7s;
    transform: translate(600px);
    position: fixed;
    overflow: scroll;

    .CartItems {
        width: 100%;
        height: 50px;
        @include Myflex;
        border-bottom: 1px solid gray;
        margin-bottom: 10px;
        font-size: 24px;
        color: #C7A17A;
        
    }

    .Emptybasket {
        height: 65vh;
        @include Myflex;
        flex-direction: column;
        font-size: 100px;
        color: #C7A17A;

        p {
            font-size: 40px;
        }
    }

    .basketCard {
        margin-bottom: 10px;
        display: flex;
        height: 100px;
        align-items: center;
        .removeBtnBasket {
            @include Myflex;

            button {
                @include Myflex;
                margin: 0px 2px;
                border-radius: 50%;
                background-color: white;
                cursor: pointer;
                border: none;

                .removeIcon {
                    color: #80A093;
                    font-size: 30px;
                }
            }
        }

        .BasketBoxImg {
            width: 70px;
            height: 90%;
            @include Myflex;

            img {
                max-width: 80%;
            }
        }

        .nameAndPriceBox {
            width: 180px;
            height: 50px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px;

            p {
                font-size: 15px;
            }

            .priceAndCounterBox {
                display: flex;
                gap: 60px;

                p {
                    margin: 0px 3px;
                    font-size: 15px;

                }
            }

            .CountBox {
                display: flex;

                button {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    cursor: pointer;
                    background-color: white;

                    border: 1px solid gray;
                    @include Myflex;

                }
            }
        }

        .TotalAndRemovve {
            height: 50px;
            width: 42px;
            @include Myflex;

            p {
                font-size: 15px;
                transform: rotate(-20deg);
                @include Myflex;
                flex-direction: column;
            }

        }

    }

    .SubtotalBox {
        border-top: 1px solid gray;
        margin-top: 10px;
        min-height: 40px;
        gap: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        flex-direction: column;

        p {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .BasketsBtns {
            @include Myflex;
            gap: 10px;


            .DeleteBtnBasket {
                position: relative;
                background-color: #C7A17A;
                width: 100px;
                height: 35px;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                .BasketBtnHover1 {
                    background-color: #010103;
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0;
                    border-radius: 5px;
                    z-index: 0;
                    transition: 0.9s;

                }

                p {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    @include Myflex;
                    z-index: 999;
                    color: white;


                }
            }

            .DeleteBtnBasket:hover {
                .BasketBtnHover1 {

                    width: 100%;
                    transition: 0.7s;
                }

            }

            .ViewCardBtn {
                position: relative;
                background-color: white;
                width: 100px;
                height: 35px;
                border-radius: 5px;
                border: none;
                border: 1px solid black;
                cursor: pointer;

                .BasketBtnHover2 {
                    background-color: #C7A17A;
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    top: 0;
                    border-radius: 5px;
                    z-index: 0;
                    transition: 0.9s;

                }

                p {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    @include Myflex;
                    z-index: 999;
                    transition: 0.9s;
                }
            }

            .ViewCardBtn:hover {
                .BasketBtnHover2 {

                    width: 100%;
                    transition: 0.7s;
                }

                p {
                    color: white;
                    transition: 0.7s;

                }

            }
        }



    }
} 
.basketBox.open{
    opacity: 1;
    transition: 0.7s;
    transform: translate(0px);
}

@media screen and (max-width: 578px) {
    .basketBox {
        width: 100%;
        .basketCard{
            justify-content: center;
        }
    }
}