.norMeanAbout{
  height: 92px;
  width: 100%;
}


#About {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/breadcrumb-bg-1.jpeg);


  .shape {
    position: absolute;
    width: 100%;
    width: 100%;

    img {
      max-width: 100%;
    }
  }

  .shape1 {
    img {
      width: 100%;
    }

    top: 0;
    display: flex;
    justify-content: start;
  }

  .shape2 {
    img {
      width: 100%;
    }

    bottom: 0;
    display: flex;
    justify-content: end;
  }
}

.aboutContainer {
  display: flex;

  .aboutPageText {

    text-align: center;

    .aboutText {

      h1 {
        font-size: 70px;
        color: aliceblue;
      }
    }

    .HomeAboutText {
      display: flex;
      justify-content: center;

      h6 {
        font-size: 20px;
        color: aliceblue;
      }

      .abouth6 {
        color: #C7A17A;
      }
    }
  }

}

// About page section 1 end
// About page section 2 start
#Cafena {
  background-repeat: no-repeat;
  background-color: #e6e6e6;
  height: 100vh;
  background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/shape/about-shape-2-1.png);

}

#aboutUs {
  position: relative;
  background-color: #f4f1ee;
  z-index: 0;
  width: 100%;

  .container {
    width: 100%;
    display: flex;
    gap: 80px;
    padding-top: 120px;
    padding-bottom: 130px;

    align-items: center;
    justify-content: center;
    gap: 80px;

    .rightImg {
      position: absolute;
      right: 0;
      top: -60px;
    }

    .leftImg {
      position: absolute;
      left: 0;
    }

    .contentImgs {
      background-color: transparent;
      z-index: 2;
      margin-left: 100px;

      .imgContainer {
        position: relative;

        .bigImg {
          img {
            max-width: none;
          }
        }

        .smallImg {
          position: absolute;
          bottom: 0;
          left: -130px;
        }
      }
    }

    .textContent {
      width: 530px;
      padding-top: 45px;
      z-index: 2;
      position: relative;

      .subTitle {
        margin-bottom: 30px;

        .textSubTitle {
          background-color: var(--main-color);
          letter-spacing: 2px;
          color: white;
          padding: 2px 13px;
          font-size: 16px;
          border-radius: 3px;
          background-color: #C7A17A;

        }
      }

      .mainTitle {
        margin-bottom: 20px;

        .title {
          color: black;
          text-transform: uppercase;
          font-family: "Bebas Neue", sans-serif;
          font-size: 55px;
          line-height: 57px;
        }
      }

      .description {
        font-size: 20px;
        color: var(--light-grey-color);

        .initalDesc {
          margin-bottom: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .ChooseText {
    .chooseUS{
      margin-top: 150px;

    }
    
  }
  #aboutUs {

    .container {

      flex-wrap: wrap;

      .contentImgs {
        margin-left: 0;

        .imgContainer {
          .smallImg {
            bottom: 0;
            right: 0;
            left: auto;
            transform: translateX(50%);
          }
        }
      }

      .textContent {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #aboutUs {

    .container {
      padding-left: 0;
      padding-right: 0;

      .contentImgs {
        flex-direction: column;
        display: flex;

        .imgContainer {
          display: flex;
          align-items: center;
          flex-direction: column;

          .bigImg {
            margin: 0 30px;

            img {
              max-width: 100%;
            }
          }

          .smallImg {
            display: flex;
            position: static;
            margin-top: 40px;
            margin-right: 50%;
          }
        }
      }

      .textcontent-chek {
        display: flex;
        flex-direction: column;
        
        .textContent {
          padding: 0 25px;
          max-width: 100%;
          
        }

        .checked {

          display: flex;
          flex-direction: column;

          p {
            font-size: 20px;
            margin-bottom: 20px;
          }
        }
      }

    }
  }

}

.checkedAll {
  gap: 20px;
  display: flex;
  margin-bottom: 20px;

  .iconSpan {
    height: 40px;
    display: flex;
    align-items: center;

  }

}

.fa-check {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
    cursor: pointer;

  &:hover {
    color: white;
    background-color: black;
    transition: 0.6s;
  }
}

.text {
  font-size: 24px;
}

// About page section 2 end
// About page section 3 start

#WhyChoose {
  min-height: 40vh;

  .ChooseAll {
    .ChooseText {
      margin-top: 80px;
      text-align: center;

      .chooseUS {
        display: inline-block;
        background-color: #C7A17A;
        color: aliceblue;
        width: 160px;
        height: 20px;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 30px;
        margin-bottom: 60px;
      }
    }
  }
}

.BestTesty {
  .ImageWhy {
    margin-bottom: 30px;
    width: 70px;
    z-index: 1;
    position: relative;

    img {
      margin-left: 143px;
    }
  }

  .ImageWhy::after {
    width: 45px;
    height: 45px;
    background: #EDDFD1;
    content: "";
    position: absolute;
    left: 170px;
    top: 25px;
    border-radius: 50%;
    z-index: -1;
    transition: 0.3s;
  }

}

.WhyText {
  h2 {
    text-align: center;
    font-size: 28px;
  }

  p {
    font-size: 17px;
    text-align: center;
    width: 280px;
    margin-left: 35px;
    color: rgb(153, 151, 151);

  }
}

.chooseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  .AccumsaBox {
    border: 1px solid rgb(153, 151, 151);
    width: 350px;
    height: 400px;
    border-radius: 10px;

    .BestTesty {
      margin-top: 50px;
    }
  }
}

.iconFal {
  height: 40px;

  display: flex;
  align-items: center;
  cursor: pointer;

  .fa-arrow-right {
    border: 1px solid rgb(153, 151, 151);
    border-radius: 7px;
    padding: 15px;
    color: rgb(153, 151, 151);

    &:hover {
      color: white;
      background-color: #C7A17A;
      transition: 0.6s;
    }
  }
}

.icons {
  margin-top: 40px;
  margin-left: 150px;

}

.BestTesty:hover .ImageWhy::after {
  left: 130px;
  transition: 0.4s;
}

// About Page section 3 end
// About page section 4 start
#TryTheBest {
  background-repeat: no-repeat;
  background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
  max-width: 61%;
  height: 100vh;
  margin-top: 50px;

  .TryArea {
    margin-left: 160px;
    padding-top: 100px;


    .TryAreaBox {
      min-width: 100%;
      min-height: 60vh;
      border: 1px solid rgb(206, 205, 205);
      z-index: 2;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(220, 220, 220, );
      background-color: white;
      margin-left: 500px;
    }

    .TryAreaText {
      margin-top: 70px;
      margin-left: 65px;
      margin-right: 90px;
    }

    .TryTexth1 {
      max-width: 100%;

      h1 {
        font-size: 42px;
      }
    }

    .TryTextp {
      max-width: 100%;

      p {
        margin-top: 20px;
        font-size: 20px;
        color: rgb(102, 100, 100);
      }
    }

  }
}

@media screen and (max-width:1024px) {
  #TryTheBest {
    background-repeat: no-repeat;
    background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
    max-width: 61%;
    height: 100vh;
    margin-top: 50px;

    .TryArea {

      padding-top: 100px;

      .TryAreaBox {
        min-width: 900px;
        min-height: 60vh;
        margin-left: -50px;

        .TryAreaText {
          margin-top: 70px;
          margin-left: 65px;
          margin-right: 90px;
        }

        .TryTexth1 {
          width: 800px;

          h1 {
            font-size: 38px;
          }
        }

        .TryTextp {
          width: 750px;

          p {
            margin-top: 20px;
            font-size: 20px;
            color: rgb(102, 100, 100);
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  #TryTheBest {
    background-repeat: no-repeat;
    background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
    max-width: 61%;
    height: 100vh;
    margin-top: 50px;

    .TryArea {

      padding-top: 100px;

      .TryAreaBox {
        min-width: 600px;
        min-height: 60vh;
        margin-left: -50px;

        .TryAreaText {
          margin-top: 70px;
          margin-left: 65px;
          margin-right: 90px;
        }

        .TryTexth1 {
          width: 600px;

          h1 {
            font-size: 34px;
          }
        }

        .TryTextp {
          width: 500px;

          p {
            margin-top: 20px;
            font-size: 20px;
            color: rgb(102, 100, 100);
          }
        }
      }
    }
  }
}

@media screen and (max-width:425px) {
  #TryTheBest {
    background-repeat: no-repeat;
    background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
    max-width: 100%;
    height: 100vh;
    margin-top: 50px;

    .TryArea {

      padding-top: 100px;

      .TryAreaBox {
        width: 380px;
        height: 60vh;
        margin-left: -140px;

        .TryAreaText {
          margin-top: 20px;
          margin-left: 25px;
          margin-right: 20px;
        }

        .TryTexth1 {
          width: 330px;

          h1 {
            font-size: 28px;
          }
        }

        .TryTextp {
          width: 300px;

          p {
            margin-top: 20px;
            font-size: 20px;
            color: rgb(102, 100, 100);
          }
        }
      }
    }
  }
}

@media screen and (max-width:375px) {
  #TryTheBest {
    background-repeat: no-repeat;
    background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
    max-width: 100%;
    height: 60vh;
    margin-top: 50px;

    .TryArea {

      padding-top: 100px;

      .TryAreaBox {
        width: 350px;
        height: 70vh;
        margin-left: -140px;

        .TryAreaText {
          margin-top: 20px;
          margin-left: 18px;
          margin-right: 25px;
        }

        .TryTexth1 {
          width: 330px;

          h1 {
            font-size: 28px;
          }
        }

        .TryTextp {
          width: 300px;

          p {
            margin-top: 20px;
            font-size: 20px;
            color: rgb(102, 100, 100);
          }
        }
      }
    }
  }
}

@media screen and (max-width:320px) {
  #TryTheBest {
    background-repeat: no-repeat;
    background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/bg/best-coffe-1.jpeg);
    max-width: 100%;
    height: 60vh;
    margin-top: 50px;

    .TryArea {

      padding-top: 100px;

      .TryAreaBox {
        width: 290px;
        height: 75vh;
        margin-left: -140px;

        .TryAreaText {
          margin-top: 20px;
          margin-left: 30px;
          margin-right: 25px;
        }

        .TryTexth1 {
          width: 240px;

          h1 {
            font-size: 25px;
          }
        }

        .TryTextp {
          width: 250px;

          p {
            margin-top: 20px;
            font-size: 20px;
            color: rgb(102, 100, 100);
          }
        }
      }
    }
  }
}

// About page section 4 end 

//  About page section 5 start

#Professional {
  min-height: 40vh;

  .OurProfessional {
    .ChooseText {
      
      margin-top: 80px;
      text-align: center;

      .chooseUS {
        display: inline-block;
        background-color: #C7A17A;
        color: aliceblue;
        width: 130px;
        height: 20px;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 30px;
      }

      h1 {
        font-size: 30px;
        margin-bottom: 60px;
      }
    }

    .chooseUS {
      h6 {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 25px;
    }
  }
}

.prof-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  .team__box {

    border: 1px solid #E2DFDD;
    border-radius: 10px;
    padding: 38px 28px;
    transition: 0.4s;
    width: 350px;

    .thumb {

      position: relative;
      min-height: 310px;
      margin-bottom: 30px;

      img {
        transition: all 0.3s ease-out 0s;
        min-height: 310px;
        object-fit: cover;
        width: 98%;
        border-radius: 60px 60px 60px 0px;
      }

      .social-links {
        position: absolute;
        top: 30px;
        right: -1px;

        .social-links__trigger {
          cursor: pointer;
          border: none;
          transition: all 0.3s;
          color: #958f8a;
          font-size: 13px;
          width: 45px;
          border-radius: 5px;
          height: 45px;
          background: #ffffff;
          margin-bottom: 10px;
          display: flex;
          box-shadow: 0px 6px 21px 0px rgba(118, 118, 118, 0.09);
          justify-content: center;
          align-items: center;
          transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);

          .list-unstyled {
            position: absolute;
            transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
            opacity: 0;
            visibility: hidden;
            transform: translateY(70%);

            .face {
              transition-delay: 100ms;
              transition: all 0.5s;
            }

            .ywit {
              transition: all 0.5s;
              transition-delay: 200ms;
            }

            .pint {
              transition: all 0.5s;
              transition-delay: 400ms;
            }

            .in {
              transition: all 0.5s;
              transition-delay: 600ms;
            }

            li {
              transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
              transition: all 0.6s;
              color: #a7a7a7;
              margin-bottom: 0;
              list-style: none;
            }

            li:hover a {
              background-color: #C7A17A;
              color: white;
              transition: all 0.6s;
            }

            a {
              margin-bottom: 10px;
              border: none;
              color: #958f8a;
              font-size: 13px;
              width: 45px;
              border-radius: 5px;
              height: 45px;
              background: #ffffff;
              display: flex;
              box-shadow: 0px 6px 21px 0px rgba(118, 118, 118, 0.09);
              justify-content: center;
              align-items: center;
            }
          }
        }
      }

      .social-links__trigger:hover {
        background-color: #C7A17A;
        color: white;
        transition: all 0.3s;

      }

      .social-links__trigger:hover .list-unstyled {
        opacity: 1;
        visibility: visible;
        transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }
    }

    .content {
      h4 {
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 2px;
        font-family: "Jost", sans-serif;
      }

      p {
        color: #C7A17A;
        letter-spacing: 2px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  .team__box:hover img {

    border-radius: 0px 60px 60px 60px;
    transition: all 0.3s ease-out 0s;
  }
}