#Best {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.aboutArea {

    display: flex;
   
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 100px;

    .areaLeft {
        .leftImage {
            position: relative;

            .smallImage {

                position: absolute;
                left: -160px;

                bottom: 20px;


            }
        }
    }

}

.textRight {
    max-width: 594px;
    height: 290px;
    border: 1px solid red;

    .aboutUS {
        width: 100px;
        height: 20px;
        border: 1px solid #c7a17a;
        background-color: #c7a17a;
        color: aliceblue;
        border-radius: 4px;
        font-size: 24px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 35px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (max-width:1516px) {
    .aboutArea {
        gap: 10px;
    }
}

@media screen and (max-width:1036px) {
    .aboutArea {
        flex-direction: column;

        .areaLeft {



            .leftImage {
                position: relative;

                .smallImage {

                    position: absolute;
                    left: -80px;
                    left: unset;
                    bottom: 20px;
                }

            }

        }

    }

    .textRight {
        max-width: 994px;
        height: 290px;
    }
}

@media screen and (max-width:774px) {
    .areaLeft{
        .leftImage{
            flex-direction: column-reverse;
            .smallImage{
                width: 40%;
            }
            .bigImage{
            width: 70%;
            }
        }
    }
}