* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@mixin Myflex {
    display: flex;
    justify-content: center;
    align-items: center;
}


// .notMean{
//     width: 100%;
//     height: 92px;
//     background-color: ;
// }
// .popularMenu {
//     background-color: white;
//     width: 100%;
//     min-height: 110vh;
//     @include Myflex;
//     position: relative;

//     .popularMenuLeft {
//         width: 50%;
//         height: 100vh;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;

//         img {
//             max-width: 300px;
//         }
//     }

//     .popularMenuRight {
//         width: 50%;
//         display: flex;
//         flex-direction: column;
//         align-items: end;
//         height: 100vh;

//         img {
//             max-width: 300px;
//         }
//     }
// }

.SpecialMenuBiggestBox {
    // min-height: 140vh !important;
    background-color: #f4f1ee;
    width: 100%;
    position: relative;
    left: 0;
    padding: 0px 45px;  
.img1{
    position: absolute;
    left: 0;
    z-index: -1;
}
.img2{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.img3{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.img4{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
    .container {
        width: 100%;
        min-height: 100vh;

        .specialMenuBoxUp {
            height: 25%;

            .specialBox {
                height: 20%;
                @include Myflex;


                .SpecialMenuBoxText {
                    background-color: #C7A17A;
                    width: 150px;
                    font-size: 13px;
                    height: 25px;
                    margin-bottom: 20px;
                    @include Myflex;

                    border-radius: 2px;
                    color: white;
                }
            }

            .speacialText {
                height: 30%;
                @include Myflex;
                margin-bottom: 20px;

                p {
                    font-size: 30px;
                }
            }

            .FilterText {
                height: 70%;
                @include Myflex;

                .filterTextBox {
                    padding: 5px 1px;
                    width: 82.5%;
                    height: 35%;
                    border-radius: 10px;
                    @include Myflex;

                    .filterUl {
                        width: 81%;
                    @include Myflex;

                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        list-style: none;
                        border: 1px solid #c7a07a5c;
                        border-radius: 5px;

                        .active {
                            background-color: #C7A17A;
                            transition: 0.3s;
                            color: white;
                            border-radius: 3px;
                        }



                        button {
                            background-color: #f4f1ee;

                            border: none;
                            height: 30px;
                            padding: 0px 30px;
                            @include Myflex;
                            cursor: pointer;
                            border-radius: 4px;
                            font-size: 12px;
                            transition: 0.3s;

                        }

                        button:hover {
                            background-color: #C7A17A;
                            transition: 0.3s;
                            color: white;

                        }

                    }
                }
            }
        }

        .specialMenuBoxDown {
            min-height: 100vh !important;
            display: flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;

            .card {
                width: 350px ;
                position: relative;

                .cardImg {
                    width: 350px ;
                    height: 250px;
                    border-radius: 10px;
                    overflow: hidden;
                    z-index: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                        transition: 0.4s;

                    }

                    img:hover {
                        transform: scale(1.1);
                        transition: 0.4s;
                    }
                }

                .cardText {
                    background-color: white;
                    width: 270px;
                    height: 160px;
                    position: absolute;
                    top: 180px;
                    right: 40px;
                    border-radius: 10px;
                    z-index: 1;
                    @include Myflex;
                    flex-direction: column;
                    gap: 10px;

                    h4 {
                        cursor: pointer;
                    }

                    .price {
                        display: flex;
                        font-size: 15px;

                        p {
                            color: #C7A17A;
                        }

                        span {
                            padding: 0px 5px;
                            text-decoration: line-through;
                            color: rgba(128, 128, 128, 0.714);
                        }

                    }

                    .btns {
                        display: flex;
                        gap: 5px;

                        button {
                            border: 1px solid gray;
                            border-radius: 5px;
                            height: 30px;
                            width: 30px;
                            background-color: white;
                            cursor: pointer;
                            transition: 0.3s;
                            @include Myflex;
                            color: gray;

                        }

                        button:hover {
                            color: #C7A17A;
                            border: 1px solid #C7A17A;
                            transition: 0.3s;
                        }
                    }

                }

            }




        }

    }
}

@media screen and (min-width: 1801px) {
    .SpecialMenuBiggestBox {
        min-height: 130vh;
        .container {
            .specialMenuBoxUp {
                .speacialText {
                    p {
                        font-size: 40px;
                    }
                }

                .FilterText {
                    .filterTextBox {
                    width: 84.5%;
                        .filterUl {
                            button {
                                height: 40px;
                                padding: 0px 50px;
                            }
                        }
                    }
                }
            }
            .specialMenuBoxDown {
                padding: 0px 100px;
                .card {
                    width: 400px;
                    height: 400px;
                    .cardImg {
                        width: 100%;
                        height: 300px;
                    }

                    .cardText {
                        width: 300px;
                        height: 200px;
                        top: 200px;
                        right: 13%;

                        h4 {
                            font-size: 25px;
                            cursor: pointer;
                        }

                        .price {
                            display: flex;
                            font-size: 19px;
                        }

                        .btns {
                            button {
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }
                }
            }

          
        }
    }
}

// @media screen and (max-width: 1800px) {
//     .SpecialMenuBiggestBox {
//         .container {
//             .specialMenuBoxDown {
//                 min-height: 100vh;
//                 display: flex;
//                 justify-content: center;
//                 gap: 10px;
//                 flex-wrap: wrap;

//                 .card {
//                     width: 350px;

//                     .cardImg {
//                         width: 300px;
//                         height: 220px;
//                     }

//                     .cardText {
//                         width: 250px;
//                         height: 160px;
//                         right: 22px;
//                     }
//                 }
//             }
//         }
//     }

// }

@media screen and (max-width: 1160px) {
    .SpecialMenuBiggestBox {
        

        .container {
            .specialMenuBoxUp {

                .FilterText {
                    .filterTextBox {
                        .filterUl {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 0px;
                            button{
                                margin: 10px 3px;
                            }
                            a {
                                width: 25%;
                            }
                        }
                    }
                }
            }
            .specialMenuBoxDown{

                .card{
                    height: 200px;
                    margin-bottom: 40px
                }
            }
        }
    }

}

@media screen and (max-width: 1220px) {
    .SpecialMenuBiggestBox {
        .container {
            .specialMenuBoxDown {
                .card {
                    height: 300px;
                }
            }
        }
    }
}

@media screen and (max-width: 860px) {
    .SpecialMenuBiggestBox {

        padding: 0px 0px;

        .container {
            .specialMenuBoxUp {
                .FilterText {
                    .filterTextBox {
                        .filterUl {
                            a {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .SpecialMenuBiggestBox {
        .container {
            .specialMenuBoxDown {
                .card {
                    margin-bottom: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .popularMenu {
        .popularMenuLeft {
            img {
                max-width: 200px;
            }
        }
    }

    .SpecialMenuBiggestBox {
        .container {
            .specialMenuBoxUp {
                .speacialText {
                    p {
                        font-size: 20px;
                    }
                }

                .FilterText {
                    .filterTextBox {
                        .filterUl {
                            width: 100%;

                        }
                    }
                }
            }
        }

    }
}