.notMeanHeader{
  height: 92px;
  width: 100%;
}


.headerHeroArea {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16%;
  background-image: url(https://xpressrow.com/html/cafena/cafena/assets/images/shape/hero-shape-2-1.png);
  background-repeat: no-repeat;
  margin-bottom: 130px;
  position: relative;

  h1 {
    width: 500px;
    height: 250px;
    font-size: 70px;
  }

  p {
    height: 60px;
    font-size: 16px;
    color: #6c6c6c;
    
  }
}
// #Header{
//   position: relative;
//   z-index: 1;
//   width: 100%;
// }

.playVideoOpening{
  position: fixed;

  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.503);
  width: 100%;
  height: 100%;
  display: flex;
  // overflow: hidden;
  // visibility: hidden;
  justify-content: center;
  align-items: center;
  z-index: 3  ;
button{
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  border:1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 50%;
  background-color: transparent;
font-size: 25px;
  color: rgba(255, 255, 255, 0.6);
}
}
.playVideoOpening_active{
  overflow: auto;
  visibility: visible;

}
.heroAreaBtn {
  display: flex;
  justify-content: left;
  gap: 50px;

  // Header buttom 1
  .sitebtn1 {
    border: 1px solid #9f9f9e;
    width: 200px;
    height: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-decoration: none;
    color: rgb(195, 22, 22);
    font-size: 13px;
    border-radius: 8px;
    position: relative;

    p {
      padding: 0px 35px;
      color: rgb(9, 9, 9);
      transition: 0.7s;
      position: absolute;
      z-index: 2;
      top: 12px;
    }

    div {
      background-color: #c7a17a;
      width: 0px;
      height: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      border-radius: 8px;
      transition: 0.7s;
      position: absolute;

      z-index: 0;
    }
  }

  .sitebtn1:hover {
    div {
      width: 200px;
      transition: 0.7s;
    }
  }

  //   Header Buttom 2
  .sitebtn2 {
    border: 1px solid #c7a17a;
    width: 200px;
    height: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-decoration: none;
    color: white;
    font-size: 13px;
    background-color: #c7a17a;
    border-radius: 8px;
    position: relative;

    p {
      padding: 0px 45px;
      color: white;
      transition: 0.7s;
      position: absolute;
      z-index: 2;
      top: 12px;
    }

    div {
      background-color: #32323d;
      width: 0px;
      height: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      border-radius: 8px;
      transition: 0.7s;
      position: absolute;
      top: 0;
      z-index: 0;
    }
  }

  .sitebtn2:hover {
    div {
      width: 200px;
      transition: 0.7s;
    }
  }
}

// Header Image
.heroAreoImage {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 30%;

}

.sitebtn1::after {
  background-color: #6c6c6c;
}

.playVideo {
  cursor: pointer;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid #c7a17a;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #c7a17a;
    transition: 0.4s;

    .FaPlay:hover {
      color: #fff;
      transition: 0.4s;
    }
  }

}

.main_num {
  a {
    position: relative;
    font-size: 15px;
    
  }

  a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

@media screen and (max-width: 1108px) {
  .headerHeroArea {
    .heroAreaContent {
      padding-bottom: 30px;
    }

    flex-direction: column-reverse;
    gap: 1px;

    h1 {
      text-align: center;
      height: 215px;
    }
  }
}

@media screen and (max-width:1360px) {
  .headerHeroArea {
    gap: 150px;
p{
  text-align: center;
}
  }
}

@media screen and (max-width:1200px) {

  .headerHeroArea {
    h1 {
      height: 200px;
    }
  }
}

@media screen and (max-width:768px) {
 
   

    .headerHeroArea {
      gap: 0;
      .heroAreoImage {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
          height: 300px;
          max-width: 600px;

          img {
            height: 300px;
            max-width: 600px;
           
          }
        }
      }
    }

    .heroAreaBtn {
      flex-direction: column;
      align-items: center;
    }
  
}
@media screen and (max-width:438px){
  #Header {
    height: 100%;

    .headerHeroArea {
      .heroAreaContent{
        .coffeText{
          max-width: 300px;
          margin-bottom: 50px;
          margin-left: 100px;
        }
      }
      .heroAreoImage {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .image {
          height: 300px;
          max-width: 600px;

          img {
            height: 300px;
            max-width: 600px;
           
          }
        }
      }
    }

    .heroAreaBtn {
      flex-direction: column;
      align-items: center;
    }
  }
}
// Years part
.yearsbox {
  margin-right: 80px;
  margin-left: 20px;
  margin-bottom: 120px;
  width: 100%;
  display: grid;
  // gap: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .yearstop {
      
      display: flex;
      flex-direction: column;
      gap: 30px;

      .topyears {
          width: 100%;
          display: flex;
          align-items: center;
        

          span {
              border-radius: 5px;
              color: #a7a7a7;
              width: 20%;
              border: 1px solid #a7a7a7;
              display: flex;
              justify-content: center;
              align-items: center;
          }

          .line {
              width: 80%;
              border-top: 1px solid #a7a7a7;
              height: 0px;
          }
      }
  }

  .yearstext {
      // width: 70%;
    margin-left: -3px;
  }
  p{
    color:#9f9f9e;
    width: 230px;
    
  }
  h2{
    font-size: 28px;
  }
}


@media screen and (max-width: 1200px) {
.yearsbox {
  grid-template-columns: 1fr 1fr !important;
  text-align: center;
 gap: 50px;
  align-items: center;
  .yearstop {
    align-items: center;
    justify-content: center;
    .yearstext{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        text-align: center;
      }
    }
  .topyears {
      justify-content: center;
      .line {
          display: none;
      }
  }

}
  
}
}
@media screen and (max-width: 600px) {
.yearsbox{
  grid-template-columns: 1fr !important;
}
}