footer {
    width: 100%;
    height: 100%;
    background-color: #010103;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .footer_container {
        padding-top: 125px;
        padding-left: 150px;
        padding-right: 150px;
        width: 65%;

        .footer_top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer_col {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 15px;
                }

                .PhoneNum {
                    color: white;

                    .number {
                        text-decoration: none;
                        color: #a7a7a7;
                    }
                }

                .address {
                    color: white;

                    span {
                        color: #a7a7a7;
                    }
                }

                form {
                    display: flex;
                    border-bottom: 1px solid #32323D;
                    padding-top: 17px;

                    input {
                        border: none;
                        background: transparent;
                        padding: 15px;
                        padding-left: 20px;
                        font-size: 14px;
                        outline: none;
                        width: 100%;
                        padding-top: 0px;
                        color: #a7a7a7;
                    }

                    button {
                        color: #ffffff;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        border: none;
                        display: flex;
                        gap: 5px;
                        background: transparent;
                        font-size: 12px;

                    }
                }
            }
        }

        .footer_middle {
            display: flex;

            justify-content: space-between;
            margin-top: 65px;
            padding-bottom: 30px;

            p {
                color: white;
            }

            .footer_logo_content {
                width: 40%;
            }

            .logos {
                display: flex;
                justify-content: flex-end;

                .logo_row {
                    display: flex;
                    align-items: flex-end;
                    gap: 20px;
                    margin-bottom: 16px;

                    a {
                        border-radius: 4px;
                        display: flex;
                        padding: 10px;
                        border: 1px solid #a7a7a7;
                        color: #a7a7a7;
                        transition: 0.3s;
                    }

                    a:hover {
                        color: white;
                        border-color: white;
                    }
                }

            }
        }

        .footer_bottom {
            display: flex;
            border-top: 1px solid #32323D;
            justify-content: space-between;
            padding-top: 30px;
            padding-bottom: 90px;

            .footer_nav {
                display: flex;
                gap: 20px;
                padding-left: 0px;

                li {
                    list-style-type: none;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            .go_top {
                display: flex;
                gap: 5px;

                .go-top__btn {
                    align-items: center;
                    text-decoration: none;
                    color: #ffffff;
                    display: flex;
                    gap: 5px;
                    border: none;
                    cursor: pointer;
                    background: transparent;
                }
            }
        }
    }

    @media screen and (max-width:1224px) {
        .footer_container {
            .footer_top {
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 200px;
                row-gap: 10px;

                .footer_col {
                    form {
                        width: 600px;
                    }
                }
            }

            .footer_middle {
                .footer_logo_content {
                    width: 64%;
                }
            }
        }
    }

    @media screen and (max-width:1024px) {
        .footer_container {
            padding-left: 100px;
            padding-right: 100px;

            .footer_middle {
                flex-wrap: wrap;
            }

            .footer_bottom {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width:619px) {
        .footer_container {
            padding-left: 20px;
            padding-right: 20px;

            .footer_top {
                flex-wrap: wrap;
                justify-content: center;
                column-gap: 200px;
                row-gap: 10px;

                .footer_col {
                    form {
                        width: 70%;
                    }
                }
            }

            .footer_bottom {
                .footer_nav {
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }

    }
}

@media screen and (max-width:421px) {
    .footer_container {
        .footer_middle {
            .logos {
                width: 220px;
            }
        }
    }
}